@media (max-width:900px) {
    .herocontent {
        padding:2rem;
    }
}

.hero{
    max-width:900px;
    width:100%;
    margin-left: auto;
    margin-right: auto;
    color:white;
}

.heading {
    font-size: 3.5rem;
    line-height: 1rem;
    
}

.subheading{
    font-size: 2.3rem;
    line-height: 1rem;
    
}

.contents{
    font-size:1.2rem;
    font-family: 'Roboto', sans-serif;
    font-weight: 100;

    

}

.imagecontainer > span{
    border-radius: 0.2rem;
    display: inline-block;
    overflow: hidden;
    border: 5px solid white !important;
    border-bottom: 1.5rem solid white !important;

   
 
}
.imagecontainer{
    display: inline-block;
    cursor: pointer;
}
.imagecontainer img{
    transition:filter 1s ease;
}

.imagecontainer:hover img {
    filter:hue-rotate(90deg);
}