.footer{
    display:flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    max-width:900px;
    margin-right: auto;
    margin-left: auto;
    margin-top: 8rem;
    margin-bottom:2rem;
}

.designed{
    margin-bottom:1rem;
    text-decoration: none;
    color: white;
    cursor: pointer;
}

.icons a{
    margin:0 0.5rem;
    font-size: 1.5rem;
    color: white;
    cursor: pointer;
}